---
layout: zakladni
---

<h2> Seznam filmů </h2>
  {# {% set filmy = mojeFilmy.oblibene %} #}
  {% include "seznam.njk" %}

  {# <h2> Seznam filmů </h2>
  {% set filmy = mojeFilmy.chcividet %}
  {% include "seznam.njk" %} #}

